<%= form_with model: question do |form| %>
  <% unless question.author.nil? %>
    <%= form.hidden_field :author_id %>
  <% end %>
  <%= form.hidden_field :user_id %>

  <% question.author.nil? ? placeholder = "Анонимный вопрос" : placeholder = "Вопрос от @#{current_user.nickname}" %>

  <p><%= form.label :body, 'Текст вопроса' %></p>
  <p><%= form.text_area :body, rows: 5, class: "form-text-area", placeholder: placeholder %></p>

  <% if question.persisted? %>
    <p class="mt"><%= form.label :answer, 'Ответ' %></p>
    <p><%= form.text_area :answer, rows: 5, class: 'form-text-area' %></p>
  <% end %>

  <p class="mt"><%= form.submit 'Сохранить', class: 'button button-main' %>
    <% if params[:action] == "edit" %>
      или <%= link_to 'Вернуться', :back %>
    <% end %>
  </p>
<% end %>
